.tabs-container {
  text-align: center;
  /* padding: 20px; */
  padding-top: 24px;
  background-color: white;
}
.content-image{
  display: flex;
}

h2 {
  font-size: 36px;
  margin-bottom: 57px;
  color: black;
  font-weight: 600;
}

.tabs-wrapper {
  border-top: .5px solid #e5e7eb;;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 65px;
  margin-right: 80px;
}

.tabs {
  display: flex;
  /* border-bottom: 1px solid #ccc; */
}

.tab {
  flex: 1;
  padding: 25px 20px;
  cursor: pointer;
  background-color: #ffffff;
  position: relative;
  color: rgba(2, 10, 25, 0.5);
  /* font-weight: 600; */
  font-size: 22px;
}

.tab.active {
  background-color: #020a19;
  color: white;
}

/* .tab:hover {
  background-color: #ddd;
} */

.tab-separator {
  height: 100%;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 0;
}

.tab:last-child .tab-separator {
  display: none;
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  /* padding: 20px; */
  background-color: #f7f7f7;
}

h3 {
  /* font-size: 20px;
  margin-bottom: 10px; */
  color: rgb(2 10 25);
  text-align: left;
  padding-bottom: 19px;
  line-height: 40px;
  font-size: 30px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 91%;
  /* list-style-type: none;
  padding: 0; */
}

ul li {
  margin: 10px 0;
  position: relative;
  padding-left: 20px;
  /* margin: 10px 0;
  position: relative;
  padding-left: 30px; */
  color: rgb(51 51 51);
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

ul li::before {
  content: "✔";
  color: green;
  position: absolute;
  left: 0;
  top: 0;
}

img {
  /* width: 100%;
  max-width: 400px;
  margin-top: 20px; */
  /* width: 100%;
  max-width: 35%;
  margin-top: 0; */
  height: 10%;
    width: 100%;
    max-width: 40%;
    margin-top: 0;
    border-radius: 8px;
}
